/* Page layout styles */
*{
    margin:0;
    padding:0;
}
body {
    font-family: Verdana, Arial,sans-serif;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.container {
    overflow:hidden;
    width:800px;
    margin-left: auto;
    margin-right: auto;
}
.contr {
    background-color: #212121;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;

    border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
}
.upload_form_cont {
    color: #000;
    overflow: hidden;
}
.info {
    background-color: #DDDDDD;
    border: 1px solid #DDDDDD;
    float: left;
    font-weight: bold;
    height: 250px;
    margin: 20px;
    position: relative;
    width: 560px;
    overflow-y: scroll;
}
.info > div {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px 5px;
}
.info > h2 {
    padding: 0 15px;
}
.info > canvas {
    margin-left: 15px;
    margin-bottom: 10px;
}
.info #url {
    width: 400px;
}
#dropArea {
    background-color: #DDDDDD;
    border: 3px dashed #000000;
    float: left;
    font-size: 12px;
    height: 250px;
    margin: 20px;
    position: relative;
    text-align: center;
    width: 150px;
}
#dropArea.hover {
    background-color: #CCCCCC;
}
#dropArea.uploading {
    background: #ddd url(loading.gif) center 30% no-repeat;
}
#result .s, #result .f {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px;

    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
#result .s {
    background-color: #77fc9f;
}
#result .f {
    background-color: #fcc577;
}