body {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    color: #000;
}

p {
    margin: 0px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 12px;
}

h6 {
    color: rgb(150,0,0);
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 1em;
}

div.greyframe {
    border-style:solid;
    border-width:2px;
    border-color:#999;
    padding:10px;
}

div.separator {
    width: 100%;
    background: #999;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Links allgemein*/

a {
    color: #000;
}

a:hover {
    color: #999;
}

/*Navigation*/

a.navlink {
    text-decoration: none;
    display: block;
    line-height: 150%;
}

div#navigation {
    position: fixed;
    width: 80px;
}

div#bbcode {
    position: fixed;
    left: 950px;
    width: 100px;
}

/*Hauptteil*/

div#main {
    width: 800px;
    position: absolute;
    left: 120px;
}

/*Tabellen*/

table#liste {
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    border-collapse: collapse;
    width: 100%;
}

#liste th,td {
    border-style: solid;
    border-bottom-color: #999;
    border-width: 1px;
    text-align: left;
    padding: 5px;
}

#liste th {
    background: #ddd;
}

/*Formulare */
input,textarea,select {
    font-family: Verdana,sans-serif;
    font-size: 11px;
    box-sizing: border-box;
}

form#aktedit {
    margin-top: 30px;
}

input.fill {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    }

textarea.fill {
    width: 800px;
    height: 200px;
    margin-bottom: 15px;
}
textarea.someLines {
    width: 800px;
    height: 50px;
    margin-bottom: 15px;
}

input.zweiZahlen {
    width: 3em;
}
input.vierZahlen {
    width: 5em;
}

div.inlineedit {
    margin-bottom: 10px;
}

/*variabler Text bearbeiten*/

table.vartext-table {
    border-collapse:collapse;
    border-bottom-style: hidden;
    width: 100%;
}
.vartext-table td {
    border: none;
}

img.varprev {
    display: block;
    text-align: right;
}

textarea.vartext-fill {
    width: 470px;
    height: 80px;
}

div#vartext-select {
    line-height: 150%;
}

/*CKeditor*/

span.cke_skin_kama {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.vartext-table .cke_skin_kama {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vartext-table .cke_contents {
    height: 60px !important;
}

.cksmall .cke_contents {
    height: 60px !important;
}


/* smh5 gallery spezifisch */
td.IMGcont img {
    max-width: 100px;
}